<!DOCTYPE html>
<html>      
  <head>
    <link rel="stylesheet" href="stylesheets/stylePurple.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/contentpages.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/nav.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <%- navbar %>
    <div class="container">
      <h1 class="header">About</h1>
      <p class="textpassage">Welcome to PhysiXplorer! I'm Farzana Abdulzada, a passionate physics and tech enthusiast dedicated to making complex concepts more accessible through interactive simulations. My goal is to create free, open-source learning tools that help students visualize physics in a more intuitive way.</p>
  
      <p class="textpassage">
        Currently, the simulations are built using JavaScript with the p5.js library. As the project grows, I plan to explore more advanced tools to enhance interactivity. If you have suggestions or ideas, feel free to 
        <a href="https://www.linkedin.com/in/farzana-abdulzada-5382a7295" target="_blank">connect with me on LinkedIn</a>.
      </p>

      <p class="textpassage">We are always looking for people who want to contribute to this project via developing simulations, helping with web development, writing theory sections, designing or just giving conceptual advice. It doesn't matter whether you're an experienced programmer or a total newbie as the necessary JavaScript skills are easy to pick up and as p5.js is a very beginner-friendly library.</p>

      <p class="textpassage">Feel free to check out our <a style="color: #fff; text-decoration: underline;" href="https://github.com/AstroTech-666/PhysiXplorer" target="_blank">
        <img src="images/logo_images/github_logo.png" alt="GitHub link" style="width: 20px; height: 20px; margin-left: 5px;">
      </a> and contribute!</p>
    </div>  
  </body>
</html>